*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    flex-direction: column;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 9px;
}

form input{
    display: block;

}

.title{
    margin-bottom: 50px;
    text-align: center;
    font-size: clamp(1rem, 5vw, 2rem);

}

.input1,.input2{
    margin-bottom: 10px;
}

input{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid gray;
}

.login{
    width: 400px;
    height: 30px;
    margin-top: 20px;
    background-color:#ff6b2c;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 6px;

}

.password-wrapper{
    position: relative;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}



.eye img {
  width: 20px;
  height: 20px;
}



@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    input,
    .login {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }
}







